.adminPanelItem {
    display: inline-flex;
    align-items: center;
    margin-left: 35px;
    gap: 10px;
}

.blockActive {
    display: block;
    width: 4px;
    height: 36px;
    background: black;
    border-radius: 10px;
}

.blockDefault {
    display: block;
    width: 4px;
    height: 36px;
    background-color: #E6E6E6;
    border-radius: 10px;
}

.title {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}
